.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 144px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 490px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-1 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-1 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 490px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-2 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-1 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 490px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-3 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-1 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  background-image: none;
  min-height: 490px;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-4 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-1 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 251px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 251px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 251px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 404px;
  }

  .u-section-1 .u-image-4 {
    height: 251px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 318px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-2 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    height: 432px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 432px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-3 {
    height: 432px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-4 {
    height: 576px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 305px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-2 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-3 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-4 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-shape-1 {
  width: 888px;
  background-image: none;
  height: 521px;
  margin: 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 183px;
  width: 800px;
  margin: -453px auto 0 170px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  margin: 17px 0 0;
}

.u-section-2 .u-line-1 {
  width: 48px;
  height: 3px;
  transform-origin: right center 0;
  margin: 5px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 27px 0 17px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 34px auto 90px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-2 .u-image-1 {
  width: 334px;
  height: 400px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 326px;
  min-height: 178px;
  background-image: none;
  margin-top: -66px;
  margin-right: 0;
  margin-left: auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-size: 1.875rem;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-2 .u-image-2 {
  width: 334px;
  height: 400px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 326px;
  min-height: 172px;
  background-image: none;
  margin-top: -66px;
  margin-right: 0;
  margin-left: auto;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-2 .u-shape-1 {
    width: 732px;
  }

  .u-section-2 .u-group-1 {
    width: 660px;
    margin-left: 140px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-line-1 {
    width: 40px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 68px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-2 .u-image-1 {
    width: 275px;
  }

  .u-section-2 .u-group-2 {
    width: 269px;
    min-height: 172px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-2 .u-image-2 {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-2 .u-shape-1 {
    width: 561px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-line-1 {
    width: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 207px;
    height: 261px;
    margin-top: 1px;
  }

  .u-section-2 .u-group-2 {
    width: 206px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-shape-1 {
    width: 526px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-line-1 {
    width: 28px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 420px;
    height: 464px;
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 425px;
    min-height: 245px;
    margin-top: -130px;
    margin-bottom: 1px;
    margin-left: 116px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-image-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 289px;
    margin-left: 51px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-line-1 {
    width: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
    height: 440px;
  }

  .u-section-2 .u-group-2 {
    width: 306px;
    min-height: 271px;
    margin-top: -106px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 20px;
  }
}